<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.open ()" ><mat-icon>menu</mat-icon></button>
  <span>News articles</span>  
  <span class="spacer"></span>
  <button mat-button ><mat-icon>settings</mat-icon></button>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="sidenav">
      <mat-list class="list-nav">
          <mat-list-item class="list-item" *ngFor="let source of sources" (click)="searchArticlesBySourceId(source.id);sidenav.close();">
    
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ source.id +'.png)'}" class="header-image"></div>
    
            <span class="source-name"> {{source.name}}</span>
    
          </mat-list-item>
      </mat-list>
 </mat-sidenav>
  <app-posts
    [articles] = "articles"
  ></app-posts>
</mat-sidenav-container>